h1 {
    width: auto;
    height: auto;
    min-width: 100pt;
    max-width: 1000pt;
    min-height: 150pt;
    max-height: 1500pt;
    border: solid rgb(58, 58, 209) 10px;
    /* border-radius: 20pt 20pt 100 100; */
    padding: 2pt;
    margin: 10%;
    text-align: center;
    
}